$primary: #1266F1;
$secondary: #F2F2F2;
$success: #00B74A;
$danger: #F93154;
$warning: #FFA900;
$info: #39C0ED;
$white: #FFFFFF;
$black: #262626;

/*=====================================
  SOCIAL NETWORK COLORS
    ===================================*/
$facebook:#3b5998;
$google:#00acee;
$twitter:#dd4b39;

$primary-color: #1266F1;
$secondary-color: #F2F2F2;
$success-color: #00B74A;
$danger-color: #F93154;
$warning-color: #FFA900;
$info-color: #39C0ED;
