/*=====================================
  SECTION HEADER LINE STYLES
    ===================================*/
.header-line {
  font-weight: 900;
  font-size: 25px;
  padding-bottom: 5px;
  padding-top: 25px;
  color: #000;
}

h1::after {
  content: " ";
  border: solid 2px #2f9484;
  display: block;
  width: 200px;
  margin: 12px auto;
}

/*=====================================
 SECTION FEATURE ITEM STYLES
  ===================================*/
.subsection-item {
  padding: 30px;
}

.subsection-item h3 {
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.subsection-item p {
  padding-top: 10px;
}

.subsection-item hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border: 1px solid #1A94C4;
}

.btn-set {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  margin-bottom: 20px;
  color: #fff;
}

/*=====================================
  COMPANY LIST ITEMS
    ===================================*/
.horizontal-scrollable > .row {
  overflow-x: auto;
  white-space: nowrap;
}

.horizontal-scrollable > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}

.company-img {
  height: 100px;
  width: 100px;
}
