<div class="row" *ngIf="feature" (click)="onClick($event)">
  <div class="col-xs-12 col-sm-6 col-lg-8" data-scroll-reveal="enter from the bottom after 0.4s">
    <div class="subsection-item">
      <h3>{{feature.title}}</h3>
      <hr/>
      <p>{{feature.paragraph}}</p>
      <a href="#" class="btn btn-primary">{{feature.buttonDescription}}</a>
    </div>
  </div>
  <div class="col-xs-6 col-lg-4" data-scroll-reveal="enter from the bottom after 0.4s">
    <img class="img-dev" src="" alt="image-dev"></div>
</div>
